.modal {
  display: ;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.work-details-card-container {
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding: 16px;
  border: none;
}

.header-container {
  margin: auto;
  border: none;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-top: 12px;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
}

.work-details-tech-stack {
  padding-right: 20px;
  margin-left: 0;
  height: 80px;
}

.work-details-items {
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  align-content: center;
}

.work-details-items li {
  margin-right: 12px;
}

.modal-header h2 {
  left: 0;
  top: 0;
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 6vw;
  margin-top: 9px;
}

.btn-tech-stacks {
  padding: 12px;
  font-weight: normal;
  font-size: 17px;
  line-height: 16px;
}

.modal-body {
  margin: auto;
}

.work-details-image-container {
  width: 100%;
  height: 180px;
  background: url('../img/Snapshoot-Portfolio.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-details-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.project-details-ul-items {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.project-details-ul-items li {
  margin: 0;
  padding: 0;
  width: calc(100% / 2);
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  margin-right: 12px;
}

.project-details-ul-items li a {
  text-decoration-line: none;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  background-color: #ff6b00;
  line-height: 24px;
  padding: 12px 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-details-ul-items li a:hover {
  color: #ff6b00;
  background-color: #fff5e1;;
  border: 1px solid #ff6b00;
}
