@media screen and (max-width: 600px) {
  body {
    margin: 0;
    background-color: rgb(255, 255, 255);
  }

  html {
    font-family: Crete Round;
  }

  .header {
    height: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: indigo */
  }

  .header .logo {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 30px;
    letter-spacing: 2px;
    height: 14px;
    font-size: 24px;
    color: #fff;
    text-decoration-line: none;
    margin-bottom: 0px;
  }

  .header .icon {
    padding-top: 20px;
    height: 10px;
    color: #fff;
    width: 30px;
    font-size: 24px;
    padding-right: 40px
  }

  .hero {
    border: 0;
    /* max-width: 100vw; */
    padding: 120px 24px 120px 24px;
    background-color: #1c1a19;
  }

  .hero h1 {
    letter-spacing: 0.37px;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    font-size: 13vw;
    color: #ff6b00;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom:0;
  }

  .hero h5 {
    margin-top: 2px;
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
  }

  .hero p {
    padding-top:0px;
    font-size: 20px;
    color: #fff;
    line-height: 24px;
  }

  .link-container {
    width: 60vw;
    margin-top: 5px;
    padding: 20px 20px 100px 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link-container a {
    font-size: 30px;
    color: #acb7c3;
  }

  .link-container a:hover {
    font-size: 30px;
    color: #3d6da5;
  }
}
