/* For Tablet View */
@media screen and (min-device-width: 604px) and  (max-device-width: 1024px) {
  .header {
    background-color: #3c3a39;
    padding-bottom: 15px;
    height: 5.7%;
    width: 100%;
    position: fixed;
    top: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 30px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #fff;
    text-decoration-line: none;
    margin-bottom: 0;
  }

  .icon {
    padding-top: 20px;
    height: 10px;
    color: #dbd8d7;
    width: 30px;
    font-size: 17px;
    padding-right: 25px;
  }

  .hero {
    border: 0;
    height: 100vh;
    padding: 150px 30px 0 25px;
    background-color: #1c1a19;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 23vh;
    background-position-y: 300px;
    background-image: url("../img/mvector.png");
  }

  .hero h1 {
    letter-spacing: 0.17px;
    font-style: normal;
    padding: 0;
    font-size: 11vw;
    color: #ff6b00;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .hero h5 {
    margin-top: 5px;
    font-size: 5vw;
    margin-bottom: 0;
    color: #fff;
    line-height: 32px;
  }

  .hero p {
    margin-top: 20px;
    font-size: 27px;
    color: #fff5e1;
    line-height: 60px;
  }

  .link-container {
    width: 50.7vw;
    margin-top: 24px;
    padding: 10.6px 20px 100px 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link-container li.link-item {
    list-style-type: none;
  }

  .link-container li.link-item a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  .link-container li.link-item a:hover {
    color: #3d6da5;
  }

  .main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    height: auto;
  }

  .title {
    padding-top: -20px;
    position: static;
    width: 327px;
    font-size: 44.6px;
    font-weight: bold;
    text-align: center;
    color: #000;
    line-height: 52px;
    display: flex;
    justify-content: space-between;
  }

  .recent-work {
    padding: 0 24px 0 24px;
  }

  hr.recent-work-line {
    flex: none;
    border: 1px solid #212121;
    flex-grow: 0;
    margin: 10px 0;
  }

  .image-placeholder {
    padding: 80.6px 24px 0 24px;
    display: flex;
    flex-direction: column;
    order: 0;
    flex-grow: 0;
  }

  .image-placeholder image.image {
    width: 200px;
    height: 300px;
  }

  .image-placeholder h3 {
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .image-placeholder p {
    padding-top: 3px;
    font-size: 20px;
    line-height: 24px;
    color: #091e42;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .teck-stacks {
    height: 70px;
    margin-bottom: 12px;
    width: 80%;
  }

  .image-placeholder ul.ul-teck-stacks {
    height: 10px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .image-placeholder .teck-stacks-item {
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-right: 12px;
  }

  .teck-stacks-item .btn-tech-stacks {
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
    box-sizing: border-box;
    padding: 10px 12px;
    color: #091e42;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .image-placeholder .teck-stacks-item .btn-tech-stacks:hover {
    margin-top: 200px;
    background: #bdd7e0;
    border: 1px solid #8993a4;
    box-sizing: border-box;
  }

  .image-placeholder .btn-see-project {
    height: 80px;
    width: 100%;
  }

  .image-placeholder .btn-see-project button {
    background-color: #ff6b00;
    position: static;
    width: 124px;
    height: 48px;
    left: 0;
    top: 259px;
    padding: 12px;
    border: 1px #ff6b00;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .card-container {
    margin-bottom: 24px;
  }

  .recent-works {
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recent-works .work-card {
    padding: 0 24px 0 24px;
    height: 386px;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('../img/maskimage.png');
  }

  .work-card-body {
    height: inherit;
  }

  .work-card-body h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height-step: 2px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 0;
  }

  .work-card-body p {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  .recent-works .work-card-body .work-tech-stack ul.ul-links {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .recent-works .work-card-body .work-tech-stack ul.ul-links .t-stack {
    margin-right: 12px;
    list-style-type: none;
  }

  .recent-works .work-card-body ul.ul-links .t-stack .btn-tech-stacks {
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    border: 0 rgba(255, 255, 255, 0.24);
  }

  .card-container .work-card-footer {
    width: 100%;
    height: 50px;
  }

  .card-container .work-card-footer button {
    flex: 1;
    width: inherit;
    background-color: #ff6b00;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    border: 0 #ff6b00;
    color: #fff;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
    padding: 0 24px 0 24px;
  }

  .about-me .intro {
    height: 652px;
    background-image: url('../img/aboutmeimage.png');
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .about-me h1 {
    padding-top: 120px;
    color: #ff6b00;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    margin-bottom: 0;
  }

  .about-me p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #f4f5f7;
  }

  .about-me button.btn-get-my-resume {
    padding: 16px;
    width: 161px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    background-color: #ff6b00;
  }

  hr.about-me-line {
    flex: none;
    border: 1px solid #fff;
    flex-grow: 0;
    margin: 10px 0;
  }

  .tech-stacks-and-skils {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-top: 120px;
  }

  .tech-stacks-and-skils h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
  }

  .language,
  .frameworks,
  .skils {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .language-title,
  .frameworks-title,
  .skils-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  img.stack-icon {
    width: 23px;
    height: 23px;
    margin-right: 12px;
  }

  .language,
  .frameworks,
  .skils,
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .language,
  .frameworks,
  .skils,
  ul li {
    list-style-type: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
  }

  .get-in-touch {
    padding-top: 120px;
  }
}

/* For Mobile portrait View */
@media screen and (max-width: 604px) {
  .header {
    background-color: #3c3a39;
    padding-bottom: 15px;
    height: 5.7%;
    width: 100%;
    position: fixed;
    top: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 30px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #fff;
    text-decoration-line: none;
    margin-bottom: 0;
  }

  .icon {
    padding-top: 20px;
    height: 10px;
    color: #dbd8d7;
    width: 30px;
    font-size: 17px;
    padding-right: 25px;
  }

  .hero {
    border: 0;
    height: 100%;
    margin-bottom: 0;
    padding: 180px 24px 0 24px;
    background-color: #1c1a19;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20vh;
    background-position-y: 300px;
    background-image: url("../img/mvector.png");
  }

  .hero h1 {
    letter-spacing: 0.17px;
    font-style: normal;
    padding: 0;
    font-size: 11vw;
    color: #ff6b00;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .hero h5 {
    margin-top: 5px;
    font-size: 5vw;
    margin-bottom: 0;
    color: #fff;
    line-height: 32px;
  }

  .hero p {
    margin-top: 5px;
    font-size: 16px;
    color: #fff5e1;
    line-height: 29px;
  }

  .link-container {
    width: 50.7vw;
    margin-top: 20px;
    padding: 10.6px 20px 100px 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link-container li.link-item {
    list-style-type: none;
  }

  .link-container li.link-item a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  .link-container li.link-item a:hover {
    color: #3d6da5;
  }

  /* main section */
  .main,
  .recent-work,
  .image-placeholder {
    padding: 0 24px 0 24px;
  }

  .main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 100px 0;
    height: auto;
  }

  .recent-work {
    margin-top: 0;
  }

  .recent-work .title {
    font-style: normal;
    font-weight: normal;
    font-size: 11.3vw;
    list-style: none;
    line-height: 2vh;
    color: #1c1a19;
  }

  hr.recent-work-line {
    flex: none;
    border: 1px solid #212121;
    flex-grow: 0;
    margin: 10px 0;
    margin-bottom: 80px;
  }

  .image-placeholder {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    order: 0;
    flex-grow: 0;
  }

  .image-placeholder h3 {
    font-size: 9vw;
    margin-top: 4vh;
    margin-bottom: 0;
    font-weight: normal;
  }

  .image-placeholder p {
    padding-top: 3px;
    font-size: 17px;
    line-height: 3.5vh;
    color: #091e42;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .image-placeholder .teck-stacks {
    height: 10vh;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 12px;
    width: 70vw;
  }

  .image-placeholder ul.ul-teck-stacks {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .image-placeholder .teck-stacks-item {
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-right: 3vw;
  }

  .teck-stacks-item .btn-tech-stacks {
    background-color: #fff;
    border: 1px solid #8993a4;
    box-sizing: border-box;
    padding: 1.5vh 4vw 12px 4vw;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
  }

  /* Todo  */
  .image-placeholder .btn-see-project {
    height: 80px;
  }

  .image-placeholder .btn-see-project button {
    background-color: #ff6b00;
    position: static;
    width: 34.9vw;
    height: 7vh;
    left: 0;
    padding-top: 12px;
    border: 1px #ff6b00;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    color: #fff;
  }

  .image-placeholder .btn-see-project button:hover {
    background: #fff5e1;
    border: 2px solid #ff6b00;
    color: #ff6b00;
  }

   .image-placeholder .btn-see-project button:focus {
     background-color: #ff6b00;
    border: 2px solid #ff6b00;
    color: #fff;
  }

  .card-container {
    margin-bottom: 24px;
  }

  .recent-works {
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recent-works .work-card {
    padding: 0 24px 0 24px;
    height: 348px;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('../img/maskimage.png');
  }

  .work-card-body {
    height: inherit;
  }

  .work-card-body h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height-step: 2px;
    line-height: 50px;
    color: #fff;
    padding-top: 84px;
    margin-bottom: 0;
  }

  .work-card-body p {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .recent-works .work-card-body .work-tech-stack ul.ul-links {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 22px;
  }

  .recent-works .work-card-body .work-tech-stack ul.ul-links .t-stack {
    margin-right: 12px;
    list-style-type: none;
  }

  .recent-works .work-card-body ul.ul-links .t-stack .btn-tech-stacks {
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    border: 0 rgba(255, 255, 255, 0.24);
  }

  .card-container .work-card-footer {
    width: 100%;
    height: 50px;
  }

  .card-container .work-card-footer button {
    flex: 1;
    width: inherit;
    background-color: #ff6b00;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    border: 0 #ff6b00;
    color: #fff;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
    padding: 0 24px 0 24px;
  }

  .about-me .intro {
    height: 652px;
    background-image: url('../img/aboutmeimage.png');
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .about-me h1 {
    padding-top: 120px;
    color: #ff6b00;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    margin-bottom: 0;
  }

  .about-me p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #f4f5f7;
  }

  .about-me button.btn-get-my-resume {
    padding: 16px;
    width: 161px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    background-color: #ff6b00;
  }

  hr.about-me-line {
    flex: none;
    border: 1px solid #fff;
    flex-grow: 0;
    margin: 10px 0;
  }

  .tech-stacks-and-skils {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-top: 120px;
  }

  .tech-stacks-and-skils h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
  }

  .language,
  .frameworks,
  .skils {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .language-title,
  .frameworks-title,
  .skils-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .stack-icon {
    width: 23px;
    height: 23px;
    margin-right: 23px;
  }

  .language,
  .frameworks,
  .skils,
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .language,
  .frameworks,
  .skils,
  ul li {
    list-style-type: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
  }

  .get-in-touch {
    padding-top: 120px;
  }
}

@media screen and (max-width: 360px) {
  .recent-works .work-card {
    padding: 0 24px 30px 24px;
    /* margin-bottom: 34px;; */
    height: 358px;
  }
}
/* only on iphone 5 s/SE  */
@media screen and (min-device-width: 320px) {
  .hero {
    height: 90vh;
    padding: 90px 24px 0 24px;
    background-size: 23vh;
    background-position-y: 240px;
  }

  .hero p {
    font-size: 19px;
  }
}

/* Only on iphone 6/7/8  */
@media screen and (min-width: 375px) {
  .hero {
    height: 82vh;
    padding: 134.5px 24px 0 24px;
    background-size: 24vh;
    background-position-y: 270px;
  }

  .hero p {
    font-size: 19.3px;
  }
}

/* only on pexel 2 XL with the hight of 823 */
@media screen and (min-width: 411px) and (min-device-height: 823px) {
  .hero {
    height: 100%;
    padding: 150px 24px 120px 24px;
    background-size: 26vh;
    background-position-y: 222px;
  }

  .hero p {
    font-size: 20.3px;
  }
}

/* for iPad  pro */
@media (min-device-height: 1024px) and (max-device-width: 1366px) {
  .hero {
    padding: 200px 24px 120px 24px;
    background-size: 26vh;
    background-position-y: 300px;
  }

  .hero h1 {
    letter-spacing: 0.17px;
    color: #ff6b00;
  }

  .hero h5 {
    margin-top: 23px;
    font-size: 5vw;
    margin-bottom: 0;
    color: #fff;
    line-height: 32px;
  }

  .hero p {
    line-height: 50px;
    font-size: 33.3px;
  }

  ul.link-container li.link-item a {
    font-size: 40px;
  }
}
