
@media screen and (max-width: 600px) {
  body {
    margin: 0;
    background-color: rgb(255, 255, 255);
  }

  html {
    font-family: serif;
  }

  .header {
    background-color: #3c3a39;
    padding-bottom: 15px;
    height: 5.7%;
    width: 100%;
    position: fixed;
    top: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 30px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #fff;
    text-decoration-line: none;
    margin-bottom: 0;
  }

  .icon {
    padding-top: 20px;
    height: 10px;
    color: #dbd8d7;
    width: 30px;
    font-size: 17px;
    padding-right: 25px;
  }

  .hero {
    border: 0;
    height: 80.8vh;
    padding: 120px 30px 20px 24px;
    background-color: #1c1a19;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 30vh;
    background-position-y: 197.4px;
    background-image: url("../img/mvector.png");
  }

  .hero h1 {
    letter-spacing: 0.17px;
    font-style: normal;
    padding: 0;
    font-size: 11vw;
    color: #ff6b00;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .hero h5 {
    margin-top: 5px;
    font-size: 5vw;
    margin-bottom: 0;
    color: #fff;
    line-height: 32px;
  }

  .hero p {
    margin-top: 5px;
    font-size: 22px;
    color: #fff5e1;
    line-height: 29px;
  }

  .link-container {
    width: 40.7vw;
    margin-top: 30px;
    padding: 10.6px 20px 100px 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link-container li {
    list-style-type: none;
  }

  .link-container li a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  .link-container a:hover {
    font-size: 25px;
    color: #3d6da5;
  }

  main {
    background-color: white;
    height: 300px;
  }
}
