body {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .brand {
    margin-left: 154px;
    animation: rotateZ 10s;
  }

  @keyframes rotateZ {
    to {
      transform: rotateZ(-3240deg);
    }
  }

  .brand .logo {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    text-decoration-line: none;
    margin-bottom: 0;
  }

  .hamburger {
    padding-top: 0;
  }

  .hamburger ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 120px;
  }

  .hamburger-mobile-icon {
    display: none;
  }

  header nav .hamburger ul.menu li.menu-item {
    margin-right: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  header nav .hamburger ul.menu li.menu-item a.menu-link {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
  }

  .hero {
    background-color: #1c1a19;
    display: flex;
    flex-direction: row-reverse;
    align-content: start;
    align-items: start;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 560px;
    background-position-y: 48px;
    background-image: url("../img/Illustration-header.png");
  }

  .hero .description {
    padding-right: 40vw;
    margin: 80px 0 251px 0;
  }

  .description h1 {
    letter-spacing: 0.17px;
    font-style: normal;
    font-size: 72px;
    line-height: 81px;
    color: #ff6b00;
    font-weight: bold;
    margin: 24px 0;
  }

  .hero .description h5 {
    margin-top: 5px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .description p {
    margin-top: 20px;
    color: #fff5e1;
    font-size: 20px;
    line-height: 32px;
  }

  .link-container {
    margin-right: 87px;
    width: 80px;
    padding: 10px;
    margin-top: 150px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  .hero .link-container li.link-item {
    list-style-type: none;
  }

  .link-container li.link-item a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }

  .link-container li.link-item a:hover {
    color: #3d6da5;
  }

  .main,
  .recent-work,
  .image-placeholder {
    padding: 0 152.5px 0 152.5px;
  }

  .main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 100px 0;
    height: auto;
  }

  .recent-work {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-bottom: 70px; */
  }

  .recent-work .title {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    margin-right: 24px;
  }

  .recent-work hr.recent-work-line {
    width: 30vw;
    margin-top: 63px;
    height: 0;
    left: 450px;
    border: 1px solid #212121;
  }

  .image-placeholder {
    margin-top: 0;
    display: flex;
    flex-direction: row;
  }

  .image-placeholder .image-part img {
    width: 40vw;
    height: 50vh;
    object-fit: contain;
  }

  .image-placeholder .image-part img:hover {
    transform: scale(1.1);
  }

  .image-placeholder .description-part {
    margin-left: 24px;
  }

  .image-placeholder .description-part h3 {
    margin-bottom: 24px;
    margin-top: 0;
    font-size: 44px;
    line-height: 52px;
    font-weight: normal;
    color: #091e42;
  }

  .image-placeholder .description-part p {
    padding-top: 3px;
    font-size: 22px;
    line-height: 28px;
    color: #091e42;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .image-placeholder .description-part .teck-stacks {
    margin-top: 0;
    padding: 0;
  }

  .image-placeholder .description-part ul.ul-teck-stacks {
    margin-top: 3px;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }

  .image-placeholder .description-part .teck-stacks-item {
    list-style: none;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    margin-right: 1vw;
  }

  .teck-stacks-item .btn-tech-stacks {
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #8993a4;
    padding: 1.5vh 1.5vw 12px 1.5vw;
    margin-right: 7px;
    font-style: normal;
    font-weight: normal;
  }

  .image-placeholder .description-part .btn-see-project {
    margin-top: 27px;
    height: 100px;
  }

  .image-placeholder .description-part .btn-see-project button {
    background-color: #ff6b00;
    position: static;
    width: 8.9vw;
    left: 0;
    padding: 12px;
    border: 1px #ff6b00;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    color: #fff;
    transition: 0.3s;
  }

  .image-placeholder .description-part .btn-see-project button:hover {
    background: #fff5e1;
    border: 2px solid #ff6b00;
    color: #ff6b00;
  }

  .image-placeholder .description-part .btn-see-project button:focus {
    background-color: #ff6b00;
    border: 2px solid #ff6b00;
    color: #fff;
  }

  .recent-works {
    padding: 0 152.5px 0 152.5px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
  }

  .card-container {
    margin-bottom: 24px;
  }

  .recent-works .work-card {
    padding: 0 24px 0 24px;
    height: 398px;
    background: linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url("../img/maskimage.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .work-card-body {
    height: 200px;
  }

  .work-card-body h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    padding-top: 100px;
    color: #fff;
    margin-bottom: 20px;
  }

  .work-card-body .work-description {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .recent-works .work-card-body .work-tech-stack ul.ul-links {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 22px;
  }

  .recent-works .work-card-body .work-tech-stack ul.ul-links .t-stack {
    margin-right: 12px;
    list-style-type: none;
  }

  .recent-works .work-card-body ul.ul-links .t-stack .btn-tech-stacks {
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    border: 0 rgba(255, 255, 255, 0.24);
  }

  .card-container .work-card-footer {
    width: 100%;
    height: 50px;
  }

  .card-container .work-card-footer button.footer-btn {
    width: inherit;
    background-color: #ff6b00;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    border: 0 #ff6b00;
    color: #fff;
    transition: 0.3s;
  }

  .card-container .work-card-footer button.footer-btn:hover {
    background: #fff5e1;
    border: 2px solid #ff6b00;
    color: #ff6b00;
  }

  .card-container .work-card-footer button.footer-btn:focus {
    background-color: #ff6b00;
    border: 2px solid #ff6b00;
    color: #fff;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
    padding: 0 142px 0 142px;
    background-image: url("../img/Frame.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-y: 200px;
  }

  .about-me .intro {
    height: 652px;
  }

  .about-me h1 {
    padding-top: 120px;
    color: #ff6b00;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    margin-bottom: 0;
  }

  .about-me .desc {
    width: 566px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .about-me button.btn-get-my-resume {
    width: 200px;
    height: 9vh;
    font-style: normal;
    font-weight: bold;
    font-size: 2vh;
    line-height: 24px;
    padding: 12px;
    color: #fff;
    background-color: #ff6b00;
    transition: 0.3s;
  }

  .about-me button.btn-get-my-resume:hover {
    background: #fff5e1;
    border: 2px solid #ff6b00;
    color: #ff6b00;
  }

  .about-me button.btn-get-my-resume:focus {
    background-color: #ff6b00;
    border: 2px solid #ff6b00;
    color: #fff;
  }

  hr.about-me-line {
    flex: none;
    border: 1px solid #fff;
    flex-grow: 0;
    margin: 10px 0;
  }

  .tech-stacks-and-skils {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tech-stacks-and-skils h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
  }

  .language,
  .frameworks,
  .skils {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .language-title,
  .frameworks-title,
  .skils-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .stack-icon {
    width: 23px;
    height: 23px;
    margin-right: 23px;
  }

  .language,
  .frameworks,
  .skils,
  ul {
    display: flex;
    flex-direction: column;
  }

  .language,
  .frameworks,
  .skils,
  ul li {
    list-style-type: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 50px;
  }

  .get-in-touch {
    padding: 130px 142px 0 142px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .get-in-touch p:hover {
    transform: translate(10px);
  }

  .get-in-touch .get-in-touch-form {
    width: 684px;
  }

  .get-in-touch .get-in-touch-desc {
    width: 655px;
    margin-right: 24px;
    align-items: stretch;
  }

  .get-in-touch .get-in-touch-desc p {
    padding-top: 0;
    align-items: start;
    color: #172b4d;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .get-in-touch .input-control {
    width: 100%;
  }

  input,
  textarea,
  input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #979493;
  }

  .get-in-touch input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #dbd8d7;
    margin-bottom: 39px;
    border-width: 1px;
    padding: 12px 20px;
  }

  .get-in-touch input:hover {
    border-bottom: 1px solid #ff6b00;
  }

  .get-in-touch input:focus {
    outline-color: #ff6b00;
  }

  textarea,
  textarea::-webkit-input-placeholder {
    padding-top: 10px;
    padding-left: 16px;
  }

  .get-in-touch textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: #fbf8f7;
  }

  .get-in-touch textarea:focus {
    outline-color: #ff6b00;
  }

  .get-in-touch-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
  }

  .get-in-touch-button .btn-get-in-touch {
    border: 2px solid #ff6b00;
    width: 122px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    background-color: #ff6b00;
    transition: 0.3s;
  }

  .get-in-touch-button .btn-get-in-touch:hover {
    background: #fff5e1;
    border: 2px solid #ff6b00;
    color: #ff6b00;
  }

  .get-in-touch-button .btn-get-in-touch:focus {
    background-color: #ff6b00;
    border: 2px solid #ff6b00;
    color: #fff;
  }

  footer {
    padding: 0 142px 0 142px;
    margin-top: 124px;
  }

  footer .footer-links .hr1 {
    border: 1px solid #dfe1e6;
  }

  footer .footer-links .link-container {
    margin-left: calc(52% - 134px / 2 - 0.5px);
    display: flex;
    flex-direction: row;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-color: #fff;
    align-content: center;
  }

  footer .footer-links .link-container .link-item {
    margin-right: 21px;
  }

  footer .footer-links .link-container .link-item .links {
    color: #505f79;
  }

  footer .footer-links .hr2 {
    width: 134px;
    height: 5px;
    left: calc(50% - 134px / 2 - 0.5px);
    bottom: 8px;
    background: #0d151e;
    border-radius: 10px;
  }

  .modal {
    padding-top: 50px;
  }

  .modal-header {
    height: 40px;
    margin-top: 10px;
    padding-bottom: 0;
  }

  .modal-header h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .work-details-tech-stack {
    height: 70px;
  }

  .modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .work-details-card-container {
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding: 16px;
    border: none;
  }

  .work-details-image-container {
    width: 50vw;
    height: 60vh;
  }

  .main-content {
    margin-left: 12px;
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
  }

  .project-details-description {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
  }

  .project-details-ul-items {
    justify-content: flex-start;
  }

  .project-details-ul-items li {
    margin: 0;
    padding: 0;
    width: calc(60% / 2);
    margin-right: 12px;
  }
}

@media screen and (min-width: 992px) {
  .image-placeholder .description-part .btn-see-project button {
    width: 15.9vw;
    padding: 17px;
    font-size: 2vw;
  }
}

@media screen and (min-width: 2000px) {
  .hero .link-container {
    padding-left: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  .image-placeholder .description-part .btn-see-project button {
    width: 9.9vw;
    padding: 17px;
    font-size: 1vw;
  }

  .image-placeholder .description-part p {
    padding-top: 3px;
    font-size: 26px;
    line-height: 28px;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .about-me .desc {
    width: 767px;
  }

  .recent-work .title {
    font-size: 50px;
  }

  .recent-work hr.recent-work-line {
    width: 60vw;
  }

  .about-me button.btn-get-my-resume {
    width: 240px;
    font-size: 24px;
    padding: 17px;
    height: 90px;
  }

  .work-card-body h1 {
    padding-top: 140px;
    font-size: 42px;
  }

  .work-card-body p.wprk-description {
    font-size: 20px;
    line-height: 34px;
  }
}

@media screen and (min-width: 1000px) {
  .recent-work .title {
    font-size: 40px;
  }

  .recent-work hr.recent-work-line {
    width: 40vw;
  }
}
.side-recent-content {
  width: 100%;
}

#recentProjectBtn {
  display: none;
}

.shimmer-text {
  text-align: center;
  width: 100%;
  color: grey;
  position: relative;
  overflow: hidden;
  background: rgb(232, 223, 223);
  width: 100%;
}

.shimmer-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 20%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 80%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
